.o1calendar-133,
.o1desktop-18-child {
  height: 44px;
  width: 39px;
  position: relative;
  display: none;
}
.o1desktop-18-child {
  height: 45px;
  width: 293px;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
}
.o1math-chapter-13 {
  height: 28px;
  width: 271px;
  position: relative;
  white-space: pre-wrap;
  display: none;
  flex-shrink: 0;
}
.o1desktop-18-item,
.o1vector-icon16 {
  height: 20px;
  width: 23px;
  position: relative;
  display: none;
}
.o1desktop-18-item {
  height: 45px;
  width: 293px;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
}
.o1math-chapter-14 {
  height: 28px;
  width: 271px;
  position: relative;
  white-space: pre-wrap;
  display: none;
  flex-shrink: 0;
}
.o1desktop-18-inner,
.o1vector-icon17 {
  height: 20px;
  width: 23px;
  position: relative;
  display: none;
}
.o1desktop-18-inner {
  height: 249px;
  width: 31px;
  border-radius: 10px;
  background-color: #d9d9d9;
}
.o1edit-file-icon1,
.o1eraser-icon1 {
  height: 25px;
  width: 20px;
  position: relative;
  object-fit: cover;
  display: none;
}
.o1eraser-icon1 {
  height: 22px;
  width: 19px;
}
.o1desktop-18-child1,
.o1desktop-18-child2 {
  height: 16.8px;
  width: 1.1px;
  position: relative;
  display: none;
}
.o1desktop-18-child2 {
  height: 9.2px;
  width: 6.5px;
}
.o1desktop-18-child3,
.o1desktop-18-child4 {
  height: 8.1px;
  width: 9px;
  position: relative;
  display: none;
}
.o1desktop-18-child4 {
  height: 7px;
  width: 7.3px;
}
.o1desktop-18-child5,
.o1desktop-18-child6 {
  height: 15.3px;
  width: 7.9px;
  position: relative;
  display: none;
}
.o1desktop-18-child6 {
  height: 39.8px;
  width: 54.4px;
}
.o1desktop-18-child7,
.o1desktop-18-child8 {
  height: 27.8px;
  width: 14.5px;
  position: relative;
  display: none;
}
.o1desktop-18-child8 {
  height: 20.6px;
  width: 61.2px;
}
.o1desktop-18-child10,
.o1desktop-18-child9 {
  height: 24.1px;
  width: 5px;
  position: relative;
  display: none;
}
.o1desktop-18-child10 {
  height: 8.3px;
  width: 12.1px;
}
.o1desktop-18-child11,
.o1desktop-18-child12 {
  height: 29.5px;
  width: 11.8px;
  position: relative;
  display: none;
}
.o1desktop-18-child12 {
  height: 16.6px;
  width: 11.5px;
}
.o1desktop-18-child13,
.o1desktop-18-child14 {
  height: 0.5px;
  width: 7.7px;
  position: relative;
  display: none;
}
.o1desktop-18-child14 {
  height: 15.9px;
  width: 10.2px;
}
.o1desktop-18-child15,
.o1desktop-18-child16 {
  height: 11.5px;
  width: 1px;
  position: relative;
  display: none;
}
.o1desktop-18-child16 {
  height: 14.6px;
  width: 8.3px;
}
.o1desktop-18-child17,
.o1desktop-18-child18 {
  height: 26.8px;
  width: 10.9px;
  position: relative;
  display: none;
}
.o1desktop-18-child18 {
  height: 17.2px;
  width: 1.9px;
}
.o1desktop-18-child19,
.o1desktop-18-child20 {
  height: 10.3px;
  width: 7.7px;
  position: relative;
  display: none;
}
.o1desktop-18-child21,
.o1desktop-18-child22 {
  height: 0.5px;
  width: 5.7px;
  position: relative;
  display: none;
}
.o1desktop-18-child22 {
  height: 15.7px;
  width: 0.4px;
}
.o1desktop-18-child23,
.o1desktop-18-child24 {
  height: 17.6px;
  width: 6.5px;
  position: relative;
  display: none;
}
.o1desktop-18-child24 {
  height: 9.2px;
  width: 0.8px;
}
.o1desktop-18-child25,
.o1desktop-18-child26 {
  height: 12.2px;
  width: 8.3px;
  position: relative;
  display: none;
}
.o1desktop-18-child26 {
  height: 1px;
  width: 5.4px;
}
.o1desktop-18-child27,
.o1desktop-18-child28 {
  height: 14.9px;
  width: 1px;
  position: relative;
  display: none;
}
.o1desktop-18-child28 {
  height: 8.8px;
  width: 6.9px;
}
.o1desktop-18-child29,
.o1desktop-18-child30 {
  height: 28.2px;
  width: 2.3px;
  position: relative;
  display: none;
}
.o1desktop-18-child30 {
  height: 15px;
  width: 13.5px;
}
.o1desktop-18-child31,
.o1desktop-18-child32 {
  height: 21.2px;
  width: 1px;
  position: relative;
  display: none;
}
.o1desktop-18-child32 {
  height: 21px;
  width: 14px;
}
.o1desktop-18-child33,
.o1desktop-18-child34,
.o1desktop-18-child35 {
  height: 0.3px;
  width: 11.4px;
  position: relative;
  display: none;
}
.o1desktop-18-child34,
.o1desktop-18-child35 {
  width: 14px;
}
.o1desktop-18-child35 {
  height: 27.4px;
  width: 1px;
}
.o1desktop-18-child36,
.o1desktop-18-child37 {
  height: 17.4px;
  width: 15.4px;
  position: relative;
  display: none;
}
.o1desktop-18-child37 {
  height: 29.9px;
  width: 13.7px;
}
.o1desktop-18-child38,
.o1desktop-18-child39 {
  height: 0.3px;
  width: 12.4px;
  position: relative;
  display: none;
}
.o1desktop-18-child39 {
  height: 19.2px;
  width: 2px;
}
.o1desktop-18-child40,
.o1desktop-18-child41 {
  height: 20.8px;
  width: 15.5px;
  position: relative;
  display: none;
}
.o1desktop-18-child41 {
  height: 15.3px;
  width: 11.1px;
}
.o1desktop-18-child42,
.o1desktop-18-child43 {
  height: 17.9px;
  width: 12.4px;
  position: relative;
  display: none;
}
.o1desktop-18-child43 {
  height: 22.2px;
  width: 1.6px;
}
.o1desktop-18-child44,
.o1desktop-18-child45 {
  height: 19.1px;
  width: 16.7px;
  position: relative;
  display: none;
}
.o1desktop-18-child45 {
  height: 32px;
  width: 12.7px;
}
.o1desktop-18-child46,
.o1desktop-18-child47 {
  height: 19.6px;
  width: 1px;
  position: relative;
  display: none;
}
.o1desktop-18-child47 {
  height: 26.6px;
  width: 16px;
}
.o1desktop-18-child48,
.o1desktop-18-child49 {
  height: 40.4px;
  width: 2.6px;
  position: relative;
  display: none;
}
.o1desktop-18-child49 {
  height: 21.7px;
  width: 19.6px;
}
.o1desktop-18-child50,
.o1desktop-18-child51 {
  height: 44.4px;
  width: 17.7px;
  position: relative;
  display: none;
}
.o1desktop-18-child51 {
  height: 1px;
  width: 17.9px;
}
.o1desktop-18-child52,
.o1desktop-18-child53 {
  height: 2px;
  width: 16.3px;
  position: relative;
  display: none;
}
.o1desktop-18-child53 {
  height: 24.5px;
  width: 0.7px;
}
.o1desktop-18-child54,
.o1desktop-18-child55 {
  height: 29.7px;
  width: 21.9px;
  position: relative;
  display: none;
}
.o1desktop-18-child55 {
  height: 27.4px;
  width: 22.5px;
}
.o1desktop-18-child56,
.o1desktop-18-child57 {
  height: 24.5px;
  width: 20.2px;
  position: relative;
  display: none;
}
.o1desktop-18-child57 {
  height: 42.7px;
  width: 4.3px;
}
.o1desktop-18-child58,
.o1desktop-18-child59 {
  height: 24.3px;
  width: 24.9px;
  position: relative;
  display: none;
}
.o1desktop-18-child59 {
  height: 45.3px;
  width: 11.5px;
}
.o1desktop-18-child60,
.o1desktop-18-child61 {
  height: 36.4px;
  width: 20.9px;
  position: relative;
  display: none;
}
.o1desktop-18-child61 {
  height: 14.5px;
  width: 229.1px;
}
.o1desktop-18-child62,
.o1desktop-18-child63 {
  height: 39.8px;
  width: 2.1px;
  position: relative;
  display: none;
}
.o1desktop-18-child63 {
  height: 25px;
  width: 14.3px;
}
.o1desktop-18-child64,
.o1desktop-18-child65 {
  height: 23.3px;
  width: 1.6px;
  position: relative;
  display: none;
}
.o1desktop-18-child65 {
  height: 32.3px;
  width: 18.3px;
}
.o1microphone1,
.o1vector-icon18 {
  height: 37px;
  position: relative;
}
.o1microphone1 {
  width: 32px;
  display: none;
}
.o1vector-icon18 {
  width: 177.5px;
  flex-shrink: 0;
}
.o1vector-wrapper1 {
  margin-left: -261px;
  width: 261px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 761.1px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.o1desktop-18-child66,
.o1frame-child13 {
  position: relative;
  display: none;
  max-width: 100%;
}
.o1desktop-18-child66 {
  height: 82px;
  width: 341px;
  background: linear-gradient(203.14deg, #adbbdf, rgba(182, 187, 202, 0));
}
.o1frame-child13 {
  width: 340px;
  height: 1024px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: snow;
}
.o1group-icon3 {
  width: 136px;
  height: 87px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.o1vector-icon19 {
  height: 30px;
  width: 28px;
  position: relative;
  z-index: 1;
}
.o1dashboard3 {
  align-self: stretch;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.o1dashboard-container,
.o1frame-wrapper10,
.o1vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1dashboard-container {
  flex: 1;
  flex-direction: column;
  padding: 8px 0 0;
}
.o1frame-wrapper10,
.o1vector-group {
  flex-direction: row;
}
.o1vector-group {
  flex: 1;
  gap: 34px;
}
.o1frame-wrapper10 {
  width: 256px;
  padding: 0 8px 50px;
  box-sizing: border-box;
}
.o1query-inner-join4 {
  height: 45px;
  width: 41px;
  position: relative;
  object-fit: cover;
  z-index: 4;
}
.o1courses3 {
  align-self: stretch;
  position: relative;
  cursor: pointer;
  z-index: 4;
}
.o1courses-frame,
.o1frame-wrapper11,
.o1query-inner-join-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1courses-frame {
  flex: 1;
  flex-direction: column;
  padding: 7px 0 0;
}
.o1frame-wrapper11,
.o1query-inner-join-group {
  flex-direction: row;
}
.o1query-inner-join-group {
  flex: 1;
  gap: 26px;
}
.o1frame-wrapper11 {
  width: 265px;
  padding: 0 8px 104px;
  box-sizing: border-box;
}
.o1query-inner-join5 {
  height: 45px;
  width: 41px;
  position: relative;
  z-index: 1;
}
.o1query-inner-join-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 1px;
}
.o1task1 {
  width: 46px;
  height: 43px;
  position: relative;
  z-index: 1;
}
.o1frame-parent16,
.o1frame-wrapper12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1frame-parent16 {
  flex-direction: column;
  gap: 29px;
}
.o1frame-wrapper12 {
  flex-direction: row;
  padding: 0 2px 103px;
}
.o1help-icon3 {
  height: 45px;
  width: 40px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.o1help-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 3px;
}
.o1vector-icon20 {
  height: 38.4px;
  width: 37.4px;
  position: relative;
  z-index: 1;
}
.o1vector-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 6px;
}
.o1logout-icon3 {
  align-self: stretch;
  height: 45px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.o1frame-parent18 {
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.3px;
}
.o1help3,
.o1log-out3,
.o1setting3 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.o1logout-setting {
  flex: 1;
  flex-direction: column;
  gap: 36px;
}
.o1frame-wrapper14,
.o1help-parent1,
.o1logout-setting,
.o1logout-setting-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1logout-setting-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 4px;
}
.o1frame-wrapper14,
.o1help-parent1 {
  flex-direction: column;
}
.o1help-parent1 {
  align-self: stretch;
  gap: 43px;
}
.o1frame-wrapper14 {
  flex: 1;
  padding: 10px 0 0;
}
.o1frame-parent17 {
  flex: 1;
  flex-direction: row;
  gap: 17px;
}
.o1frame-parent17,
.o1frame-wrapper13,
.o1rectangle-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1frame-wrapper13 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 5px;
  color: #373739;
}
.o1rectangle-parent11 {
  width: 340px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: snow;
  flex-direction: column;
  padding: 27px 21px 30px 39px;
  box-sizing: border-box;
  gap: 63px;
  max-width: 100%;
}
.o1vector-icon21 {
  position: relative;
  top: 14px;
  left: 41px;
  right: 19px;
  width: 41px;
  height: 29px;
  z-index: 1;
}
.o1category-container,
.o1category-container-child {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.o1category-container-child {
  width: 284px;
  height: 80px;
  top: 30%;
  /* max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2; */
}
.o1category-container {
  margin: 0 !important;
}
.o1category2 {
  width: 142px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
  left: 18px;
}
.o1category-parent {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 21px 20px 38px 59px;
  position: relative;
}
.o1category-parent,
.o1category-parent-wrapper,
.o1frame-parent15 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.o1category-parent-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 9px 0 0;
  margin-top: -786px;
}
.o1frame-parent15 {
  height: 1019px;
  width: 290px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 8px 0 0;
  flex-shrink: 0;
  font-size: 16px;
  color: #2b59ce;
  box-shadow: #373739;
}
.o1coursemath {
  margin: 0;
  position: absolute;
  top: 0;
  left: 17px;
  font-size: 24px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 331px;
  height: 34px;
}
.o1pencil-icon1 {
  height: 23px;
  width: 28px;
  position: absolute;
  margin: 0 !important;
  top: 149px;
  left: 15px;
  object-fit: cover;
  z-index: 2;
}
.o1color-lens-icon1,
.o1delete-icon1 {
  height: 21px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  bottom: 213px;
  left: 16px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.o1color-lens-icon1 {
  height: 22px;
  width: 22px;
  bottom: 156px;
  left: 17px;
}
.o1frame-child14,
.o1frame-child15,
.o1frame-child16,
.o1frame-child17 {
  height: 0.6px;
  width: 8px;
  position: absolute;
  margin: 0 !important;
  top: 100.8px;
  left: 185.7px;
  z-index: 2;
}
.o1frame-child15,
.o1frame-child16,
.o1frame-child17 {
  height: 2.1px;
  width: 3.1px;
  top: 99px;
  left: 163.5px;
}
.o1frame-child16,
.o1frame-child17 {
  height: 2.7px;
  top: 101.8px;
  left: 178.4px;
}
.o1frame-child17 {
  height: 1px;
  width: 9.2px;
  top: 147.7px;
  left: 201.3px;
  z-index: 1;
}
.o1frame-child18,
.o1frame-child19,
.o1frame-child20,
.o1frame-child21 {
  height: 1px;
  width: 8.8px;
  position: absolute;
  margin: 0 !important;
  top: 153.8px;
  left: 202.5px;
  z-index: 1;
}
.o1frame-child19,
.o1frame-child20,
.o1frame-child21 {
  height: 20.3px;
  width: 9.2px;
  top: 140.4px;
  left: 233.4px;
}
.o1frame-child20,
.o1frame-child21 {
  height: 21px;
  width: 9.6px;
  top: 139.6px;
  left: 254.5px;
  z-index: 2;
}
.o1frame-child21 {
  height: 9.9px;
  width: 1px;
  top: 144.2px;
  left: 271.7px;
  z-index: 1;
}
.o1frame-child22,
.o1frame-child23,
.o1frame-child24,
.o1frame-child25 {
  height: 1.1px;
  width: 13.4px;
  position: absolute;
  margin: 0 !important;
  top: 148.8px;
  left: 267.5px;
  z-index: 2;
}
.o1frame-child23,
.o1frame-child24,
.o1frame-child25 {
  height: 8.2px;
  width: 8.1px;
  top: 144.4px;
  left: 283.6px;
}
.o1frame-child24,
.o1frame-child25 {
  height: 19.9px;
  width: 5px;
  top: 138.1px;
  left: 311.5px;
  z-index: 1;
}
.o1frame-child25 {
  height: 16.8px;
  width: 6.7px;
  top: 137.3px;
  left: 340.7px;
}
.o1frame-child26 {
  height: 10px;
  width: 6.1px;
  top: 139.2px;
  left: 348.6px;
  z-index: 1;
}
.o1frame-child26,
.o1frame-child27,
.o1frame-child28 {
  position: absolute;
  margin: 0 !important;
}
.o1frame-child27 {
  height: 1px;
  width: 5.7px;
  top: 145px;
  left: 349.4px;
  z-index: 2;
}
.o1frame-child28 {
  height: 7.9px;
  width: 7.3px;
  top: 143.3px;
  right: 351.4px;
  z-index: 1;
}
.o1frame-child29,
.o1frame-child30,
.o1frame-child31 {
  height: 15.6px;
  width: 21.8px;
  position: absolute;
  margin: 0 !important;
  top: 137.8px;
  right: 330.8px;
  z-index: 2;
}
.o1frame-child30,
.o1frame-child31 {
  height: 11.6px;
  width: 9.2px;
  top: 141.1px;
  right: 317px;
  z-index: 1;
}
.o1frame-child31 {
  height: 21.8px;
  width: 9.3px;
  top: 135.8px;
  right: 308.9px;
  z-index: 2;
}
.o1frame-child32,
.o1frame-child33,
.o1frame-child34 {
  height: 31.6px;
  width: 9.1px;
  position: absolute;
  margin: 0 !important;
  top: 198.9px;
  left: 184.5px;
  z-index: 1;
}
.o1frame-child33,
.o1frame-child34 {
  height: 24.1px;
  width: 13.4px;
  top: 205px;
  left: 194.3px;
}
.o1frame-child34 {
  height: 16px;
  width: 14.9px;
  top: 208.6px;
  left: 216.8px;
}
.o1frame-child35,
.o1frame-child36,
.o1frame-child37 {
  height: 33.6px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: 194px;
  left: 249.1px;
  z-index: 3;
}
.o1frame-child36,
.o1frame-child37 {
  height: 32.6px;
  width: 15.3px;
  top: 195.6px;
  left: 315px;
}
.o1frame-child37 {
  height: 29px;
  width: 12.4px;
  top: 193.3px;
  left: 350.8px;
  z-index: 1;
}
.o1frame-child38 {
  height: 34.9px;
  width: 13.5px;
  top: 193.7px;
  right: 326.7px;
  z-index: 1;
}
.o1frame-child38,
.o1frame-child39,
.o1frame-child40 {
  position: absolute;
  margin: 0 !important;
}
.o1frame-child39 {
  height: 36.9px;
  width: 14.1px;
  top: 188.8px;
  right: 230.8px;
  z-index: 1;
}
.o1frame-child40 {
  height: 27.5px;
  width: 16.4px;
  bottom: 224.6px;
  left: 229.5px;
  z-index: 4;
}
.o1frame-child41,
.o1frame-child42,
.o1frame-child43 {
  height: 37.8px;
  width: 12.7px;
  position: absolute;
  margin: 0 !important;
  bottom: 219.1px;
  left: 249.4px;
  z-index: 1;
}
.o1frame-child42,
.o1frame-child43 {
  height: 25.1px;
  width: 0.7px;
  bottom: 225.6px;
  left: 267.7px;
}
.o1frame-child43 {
  height: 32.5px;
  width: 18.2px;
  bottom: 223.1px;
  left: 266.7px;
  z-index: 2;
}
.o1frame-child44,
.o1frame-child45,
.o1frame-child46 {
  height: 42.1px;
  width: 12.8px;
  position: absolute;
  margin: 0 !important;
  bottom: 222.9px;
  left: 284.3px;
  z-index: 3;
}
.o1frame-child45,
.o1frame-child46 {
  height: 31.6px;
  width: 0.8px;
  bottom: 229.5px;
  left: 349.9px;
  z-index: 1;
}
.o1frame-child46 {
  height: 17.3px;
  width: 16.7px;
  bottom: 244.5px;
  left: 348.9px;
  z-index: 2;
}
.o1frame-child47,
.o1frame-child48,
.o1frame-child49 {
  height: 39.8px;
  width: 9.5px;
  position: absolute;
  margin: 0 !important;
  right: 340.2px;
  bottom: 230.8px;
  z-index: 1;
}
.o1frame-child48,
.o1frame-child49 {
  height: 39.1px;
  width: 14px;
  right: 300.1px;
  bottom: 226.6px;
}
.o1frame-child49 {
  height: 29.5px;
  width: 18.4px;
  right: 280.4px;
  bottom: 237.6px;
}
.o1frame-child50,
.o1frame-child51,
.o1frame-child52,
.o1frame-child53 {
  height: 50.9px;
  width: 12.7px;
  position: absolute;
  margin: 0 !important;
  right: 266.5px;
  bottom: 226.8px;
  z-index: 1;
}
.o1frame-child51,
.o1frame-child52,
.o1frame-child53 {
  height: 46px;
  width: 16.3px;
  right: 154.3px;
  bottom: 229.1px;
}
.o1frame-child52,
.o1frame-child53 {
  height: 39.3px;
  width: 16.6px;
  right: 261.1px;
  bottom: 162.7px;
}
.o1frame-child53 {
  height: 42.4px;
  width: 9.3px;
  right: 233.7px;
  bottom: 160.7px;
}
.o1frame-child54,
.o1frame-child55 {
  position: relative;
  display: none;
  max-width: 100%;
}
.o1frame-child54 {
  width: 723px;
  height: 520px;
  border-radius: 10px;
  background-color: snow;
}
.o1frame-child55 {
  height: 473px;
  width: 707px;
  background-color: #d9d9d9;
}
.o1video1 {
  width: 76px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 6;
}
.o1rectangle-parent13 {
  align-self: stretch;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px 453px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 5;
}
.o1full-screen-icon1,
.o1sound-speaker-icon1 {
  height: 35px;
  width: 33px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.o1full-screen-icon1 {
  width: 25px;
  height: 26px;
}
.o1full-screen-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.o1sound-parent,
.o1sound-parent-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.o1sound-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.o1sound-parent-wrapper {
  width: 92px;
  justify-content: flex-end;
  padding: 0 3px;
  box-sizing: border-box;
}
.o1pencil-parent,
.o1rectangle-parent12 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.o1rectangle-parent12 {
  flex: 1;
  border-radius: 10px;
  background-color: snow;
  flex-direction: column;
  align-items: flex-end;
  padding: 9px 12px 0 4px;
  box-sizing: border-box;
  gap: 3px;
}
.o1pencil-parent {
  position: absolute;
  top: 240px;
  left: 0;
  width: 723px;
  flex-direction: row;
  align-items: flex-start;
}
.o1frame-child56 {
  height: 42px;
  width: 467px;
  position: relative;
  border-radius: 10px;
  background-color: snow;
  display: none;
  max-width: 100%;
}
.o1search-icon1 {
  height: 24px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.o1search1 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  color: inherit;
  z-index: 1;
}
.o1rectangle-parent14,
.o1search-container,
.o1search-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.o1search-frame {
  width: 68px;
  flex-direction: column;
  padding: 3px 0 0;
}
.o1rectangle-parent14,
.o1search-container {
  flex-direction: row;
  max-width: 100%;
}
.o1rectangle-parent14 {
  flex: 1;
  border-radius: 10px;
  background-color: snow;
  padding: 11px 20px 7px;
}
.o1search-container {
  align-self: stretch;
  padding: 0 0 0 13px;
  top: 0;
  z-index: 99;
  position: sticky;
}
.o1whiteboard1 {
  position: relative;
  display: inline-block;
  min-width: 78px;
}
.o1vector-icon22 {
  width: 11px;
  height: 4px;
  position: relative;
}
.o1vector-wrapper3,
.o1whiteboard-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1vector-wrapper3 {
  flex-direction: column;
  padding: 9px 0 0;
}
.o1whiteboard-container {
  flex-direction: row;
  gap: 16px;
}
.o1recoded-container-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #2525ad;
  width: 155px;
  height: 45px;
}
.o1recoded-vedio1 {
  margin: 0;
  position: absolute;
  top: 9px;
  left: 7px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 224px;
  height: 29px;
  z-index: 1;
}
.o1recoded-container {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1recoded-container-wrapper {
  height: 93px;
  width: 231px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  color: snow;
}
.o1whiteboard-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 23px 0 0;
  gap: 20px;
  font-size: 14px;
  color: #000;
}
.o1search-container-parent {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
  max-width: 100%;
}
.o1menu-icon {
  width: 19px;
  height: 24px;
  position: relative;
}
.o1icon-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1ellipse-div {
  height: 8px;
  width: 7px;
  position: relative;
  border-radius: 50%;
  background-color: #ff4949;
}
.o1icon-wrapper-parent {
  height: 175px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.o1notification-bell-icon {
  height: 17px;
  width: 24px;
  position: relative;
}
.o1notification-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px;
}
.o1notification-count {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.o1notification-container,
.o1notification-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1notification-content {
  align-self: stretch;
  gap: 141px;
}
.o1notification-container {
  flex: 1;
  padding: 3px 0 0;
}
.o1frame-parent20 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}
.o1frame-parent19,
.o1frame-parent20,
.o1frame-wrapper15 {
  display: flex;
  align-items: flex-start;
}
.o1frame-wrapper15 {
  width: 117px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 11px 0 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
}
.o1frame-parent19 {
  position: absolute;
  top: 50px;
  left: 4px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  color: rgba(0, 0, 0, 0.36);
}
.o1mdi-favourite-border-1-icon1 {
  width: 25px;
  height: 22px;
  position: relative;
  object-fit: cover;
}
.o1favorite-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.o1mdi-like-1-icon1 {
  width: 30px;
  height: 28px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.o1m1 {
  flex: 1;
  position: relative;
}
.o1like-count-background {
  height: 37px;
  width: 43px;
  position: absolute;
  margin: 0 !important;
  top: -11px;
  left: -31px;
  border-radius: 5px;
  object-fit: cover;
  z-index: 1;
}
.o1like-button-container,
.o1like-count-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1like-count-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 12px;
  position: relative;
}
.o1like-button-container {
  flex: 1;
  flex-direction: column;
  gap: 10px;
}
.o1k {
  align-self: stretch;
  position: relative;
}
.o1course-actions,
.o1like-action,
.o1view-count-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1view-count-container {
  width: 164px;
  flex-direction: column;
  padding: 5px 0 0;
  box-sizing: border-box;
  margin-left: -137px;
  font-size: 16px;
}
.o1course-actions,
.o1like-action {
  flex-direction: row;
}
.o1like-action {
  flex: 1;
}
.o1course-actions {
  align-self: stretch;
  gap: 9px;
}
.o1math-chapter-22 {
  margin: 0;
  padding-bottom: 2px;
  padding-top: 9px;
}
.o1math-chapter-2-container1 {
  flex: 1;
  position: relative;
}
.o1course-header-content,
.o1course-title-container {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px;
  box-sizing: border-box;
}
.o1course-header-content {
  width: 257px;
  flex-direction: column;
  padding: 0 20px 0 0;
  gap: 2px;
}
.o1probability-theory-helps1,
.o1probability-theory1 {
  margin: 0;
  padding-bottom: 4px;
}
.o1probability-theory-probability-container1 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.o1vector-icon23 {
  height: 74.5px;
  width: 96.5px;
  position: absolute;
  margin: 0 !important;
  top: -48px;
  right: 282.5px;
  z-index: 1;
}
.o1course-description-content {
  flex: 1;
  flex-direction: row;
  position: relative;
}
.o1course-description-container,
.o1course-description-content,
.o1course-header2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.o1course-description-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 3px;
  box-sizing: border-box;
}
.o1course-header2 {
  position: absolute;
  top: 764px;
  left: 9px;
  width: 721px;
  flex-direction: column;
  gap: 13px;
  font-size: 14px;
}
.o1course-math-parent {
  align-self: stretch;
  height: 937px;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}
.o1course-math-parent-wrapper {
  width: 737px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 29px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 12px;
}
.o1vector-icon24 {
  height: 20px;
  width: 23px;
  position: absolute;
  margin: 0 !important;
  top: 231px;
  left: 34px;
  z-index: 6;
}
.o1video-content-child {
  width: 340px;
  height: 1022px;
  position: relative;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: snow;
  display: none;
  max-width: 100%;
}
.o1image-53-icon {
  height: 71px;
  width: 66px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.o1teacher-name1,
.o1teacher1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  flex-shrink: 0;
}
.o1teacher-name1 {
  align-self: stretch;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
}
.o1teacher1 {
  display: inline-block;
  min-width: 42px;
  z-index: 2;
}
.o1teacher-info,
.o1teacher-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1teacher-label {
  flex-direction: row;
  padding: 0 2px;
  margin-top: -1px;
  font-size: 12px;
  color: #3e3e3e;
}
.o1teacher-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.o1chevron-down-icon3 {
  position: absolute;
  top: 0;
  left: 136px;
  width: 15px;
  height: 17px;
  object-fit: cover;
  z-index: 2;
}
.o1video-title-container {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.o1video-card,
.o1video-card-container,
.o1video-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1video-details {
  flex: 1;
  flex-direction: column;
  padding: 17px 0 0;
}
.o1video-card,
.o1video-card-container {
  flex-direction: row;
}
.o1video-card-container {
  flex: 1;
  gap: 9px;
}
.o1video-card {
  width: 267px;
  padding: 0 13px;
  box-sizing: border-box;
}
.o1recorded-videos1 {
  margin: 0;
  width: 284px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.o1recorded-video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 293px;
  height: 45px;
  z-index: 5;
}
.o1math-chapter-15 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 28px;
  z-index: 6;
}
.o1recorded-video-item {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1math-chapter-23 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1additional-video-thumbnails {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #d4deff;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon25 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1additional-video-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-2-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
  color: #2525ad;
}
.o1math-chapter-31 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1frame-child57 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon26 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1rectangle-parent15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-3-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1math-chapter-41 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1more-video-thumbnails {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon27 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1more-video-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-4-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1math-chapter-51 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1frame-child58 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon28 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-5-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1math-chapter-61 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1frame-child59 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon29 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1rectangle-parent17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-6-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1math-chapter-71 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1frame-child60 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon30 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1rectangle-parent18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-7-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1math-chapter-81 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1frame-child61 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon31 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1rectangle-parent19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-8-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1math-chapter-91 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1frame-child62 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon32 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1rectangle-parent20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-9-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1math-chapter-101 {
  position: absolute;
  top: 12px;
  left: 54px;
  white-space: pre-wrap;
  display: inline-block;
  width: 271px;
  height: 20px;
  z-index: 2;
}
.o1frame-child63 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: snow;
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.o1vector-icon33 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 23px;
  height: 20px;
  z-index: 2;
}
.o1rectangle-parent21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 45px;
}
.o1math-chapter-10-1-hr-30-mins-parent {
  align-self: stretch;
  height: 45px;
  position: relative;
}
.o1additional-videos,
.o1more-videos,
.o1recorded-videos-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}
.o1recorded-videos-list {
  gap: 20px;
  font-size: 14px;
}
.o1course-material-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #2b59ce;
  width: 288px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
}
.o1open-course-material1 {
  position: absolute;
  top: 14px;
  left: 61px;
  display: inline-block;
  width: 253px;
  height: 23px;
  z-index: 2;
}
.o1course-material-button1 {
  height: 48px;
  flex: 1;
  position: relative;
}
.o1course-material-button-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px 0 5px;
  font-size: 16px;
  color: #fff;
}
.o1recorded-videos-group,
.o1video-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.o1recorded-videos-group {
  width: 325px;
  gap: 36px;
  max-width: 110%;
  font-size: 20px;
}
.o1video-content {
  width: 340px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: snow;
  padding: 9px 21px 51px;
  box-sizing: border-box;
  gap: 72px;
  max-width: 100%;
}
.o1vector-parent1 {
  flex-direction: row;
  position: relative;
  max-width: 100%;
}
.o1desktop-18,
.o1desktop-18-inner1,
.o1vector-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o1desktop-18-inner1 {
  flex-direction: column;
  padding: 2px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.o1desktop-18 {
  width: 100%;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(241.96deg, #efefef, rgba(74, 152, 163, 0));
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: "Istok Web";
}
@media screen and (max-width: 1350px) {
  .o1desktop-18 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1125px) {
  .o1rectangle-parent11,
  .o1video-content {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .o1video-content {
    padding-bottom: 33px;
  }
}
@media screen and (max-width: 800px) {
  .o1vector-wrapper1 {
    padding-top: 495px;
    box-sizing: border-box;
  }
  .o1search-container-parent {
    gap: 21px;
  }
  .o1frame-parent19 {
    flex-wrap: wrap;
  }
  .o1course-math-parent {
    height: auto;
    min-height: 937;
  }
  .o1video-content {
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .o1vector-wrapper1 {
    padding-top: 322px;
    box-sizing: border-box;
  }
  .o1rectangle-parent11 {
    gap: 31px;
  }
  .o1coursemath {
    font-size: 19px;
  }
  .o1recoded-vedio1 {
    font-size: 16px;
  }
  .o1whiteboard-container-parent {
    flex-wrap: wrap;
  }
  .o1recorded-videos1 {
    font-size: 16px;
  }
  .o1recorded-videos-group {
    gap: 18px;
  }
  .o1video-content {
    gap: 36px;
  }
}